<a href="https://colab.research.google.com/github/Gaurav7004/-pcMeetingRoomScheduler/blob/main/RSE_TOOL_TESTING_TRANSFORMATION/5thAPR2023-Calculation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# ! pip install pandarallel
# from pandarallel import pandarallel
import json
import re

In [ ]:
# pandarallel.initialize()

In [ ]:
## Data is the dictionary
data = {}

## Keys
key = ''

## values
values = []

## Open
with open('Example2-PPSWR.RSE', "r") as f:
    for line in f:
        line = line.strip()
        if line.startswith('#'):
            if key:
                key = key.split("'")[0]
                key = key.split("\t")[0]
                data[key] = [v for v in values if v and not v.startswith("'")]
            key = line.split("'")[0]
            key = key.split("\t")[0]
            values = []
        elif line.startswith("'"):
            pass
        else:
            line = line.split("'")[0]
            values.append(line.strip())

# add last group
if key:
    data[key] = [v for v in values if v and not v.startswith("'")]

print(json.dumps(data, indent=4))

{
    "#SAMPLING PPSWR-SSS": [],
    "#GROUP 2": [
        "SEC   C sec",
        "AGE_GR C NEWVAR"
    ],
    "#VARIABLE 4  ": [
        "YP\tN  NEWVAR",
        "YM\tN  NEWVAR",
        "YF\tN  NEWVAR",
        "YH\tN  NEWVAR"
    ],
    "#RENAME  5    ": [
        "STRMID C  sec+st+strm+sstrm",
        "FSU    C  fsu",
        "SSS    C  sss",
        "USU    C  ssu",
        "NFSU   C  nfsu",
        "NSS    N  nss",
        "MULT   N  mult"
    ],
    "#TRANSFORM 5  ": [
        "AGE_Gr=\"01\" AGE<5",
        "AGE_Gr=\"02\" AGE>=5 && AGE<10",
        "AGE_Gr=\"03\" AGE>=10 && AGE<20",
        "AGE_Gr=\"04\" AGE>=20 && AGE<60",
        "AGE_Gr=\"05\" AGE>=60",
        "YP=1",
        "YM=1        sex<>2",
        "YM=0\t\tOtherwise",
        "YF=1        sex=2",
        "YF=0\t\tOtherwise",
        "YH=1        GEDU>=\"11\"",
        "YH=0\t\tOtherwise"
    ],
    "#EST_RSE 7": [
        "S YP",
        "E 1000*YF/YM",
        "R YF/YM",
        "R YH",
        "E 100*YH/YP",
        "R YH/YP"
    ]
}

In [ ]:
df = pd.read_csv('Data1.csv')

<ipython-input-3-7e89209b1ff8>:1: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Data1.csv')

In [ ]:
def TRANSFORM_(data):
    # Initialize empty arrays to store the values
    Arr1 = []
    Arr2 = []
    Arr3 = []

    for key, value in data.items():
        ### To read the file used
        if str('TRANSFORM').lower() in str(key).lower():
            lines = '\n'.join(value)
            print(lines)
            lines = lines.split("\n")
            

            # Loop through the lines and extract the values
            for line in lines:
                line_values = line.split('=')                  # split the line into values
                var_name = line_values[0].strip()              # extract the variable name
                var_value = line_values[1].strip().split()[0]  # extract the variable value
                condition = None                               # initialize the condition to None



                # Append the values to the arrays
                Arr1.append(var_name)
                Arr2.append(var_value)
                Arr3.append(condition)

    return Arr1, Arr2, Arr3

TRANSFORM_(data)

AGE_Gr="01" AGE<5
AGE_Gr="02" AGE>=5 && AGE<10
AGE_Gr="03" AGE>=10 && AGE<20
AGE_Gr="04" AGE>=20 && AGE<60
AGE_Gr="05" AGE>=60
YP=1
YM=1        sex<>2
YM=0		Otherwise
YF=1        sex=2
YF=0		Otherwise
YH=1        GEDU>="11"
YH=0		Otherwise

(['AGE_Gr',
  'AGE_Gr',
  'AGE_Gr',
  'AGE_Gr',
  'AGE_Gr',
  'YP',
  'YM',
  'YM',
  'YF',
  'YF',
  'YH',
  'YH'],
 ['"01"', '"02"', '"03"', '"04"', '"05"', '1', '1', '0', '1', '0', '1', '0'],
 [None, None, None, None, None, None, None, None, None, None, None, None])

In [ ]:
string = ''' AGE_Gr=("01") AGE<5
AGE_Gr=("02") AGE>=5 && AGE<10
AGE_Gr=("03") AGE>=10 && AGE<20
AGE_Gr=("04") AGE>=20 && AGE<60
AGE_Gr=("05") AGE>=60
YP=(1)
YM=(1)        sex<>2
YM=(0)		Otherwise
YF=(1)        sex=2
YF=(0)		Otherwise
YH=(1)        GEDU>="11"
YH=(0)		Otherwise                                                                                                                                          
newVar4=(1)  CWS in ("11,12,21,31,41,51,61,61,71,72")
newVar4=(0)  CWS in ("11,12,21,31,41,51,61,61,71,72")
newVar5=(1)   CWS in ("11,12,21,31,41,51,61,61,71,72,81")
newVar5=(0)   CWS not in ("11,12,21,31,41,51,61,61,71,72,81")
newVar6=(1)  
newVar1=(ERN_REG + ERN_SELF)   GEDU_LVL in ("05,06")
newVar1=(0) Otherwise
newVar2=(ERN_REG + ERN_SELF)   GEDU_LVL in ("07,08,09")
newVar2=(0) otherwise                                                                                            
newVar3=(ERN_REG + ERN_SELF)   GEDU_LVL in ("05,06,07,08,09")
newVar3=(0) Otherwise                                                                                                            
ST_GR=("G1")   ST in ("10,19,20,21")
ST_GR=("G2")   ST in ("11,12,13,14,15,16,17,18")
ST_GR=("G3")   Otherwise
POP=(1)
WRK=(1)  CWS in ("11,12,21,31,41,51,61,61,71,72")
WRK=(0)  CWS NOT in ("11,12,21,31,41,51,61,61,71,72")
LF=(1)      CWS in ("11,12,21,31,41,51,61,61,71,72,81")
LF=(0)      Otherwise 
LF=(11)  (CWS in (”11,12,21”) OR GEDU_LVL in (”05,06”)) AND SEC=”1”
LF=(12)  (CWS NOT in(”11,12,21”) OR GEDU_LVL in (”05,06”)) AND SEC=”1” '''

In [ ]:
import re

# Regular expression pattern to extract the condition
pattern = r'^\w+=\([^\)]*\)(?:\s+(.*?)(?:\n|$))?$'

# Split the string into lines and extract the condition from each line
conditions = []

for line in string.split('\n'):
    match = re.match(pattern, line)
    
    if match:
        print(match.group(1))
        condition = match.group(1)
        if condition is not None:
            conditions.append(condition.strip())
        else:
            conditions.append(None)

AGE>=5 && AGE<10
AGE>=10 && AGE<20
AGE>=20 && AGE<60
AGE>=60
None
sex<>2
Otherwise
sex=2
Otherwise
GEDU>="11"
Otherwise
CWS in ("11,12,21,31,41,51,61,61,71,72")
CWS in ("11,12,21,31,41,51,61,61,71,72")
CWS in ("11,12,21,31,41,51,61,61,71,72,81")
CWS not in ("11,12,21,31,41,51,61,61,71,72,81")

GEDU_LVL in ("05,06")
Otherwise
GEDU_LVL in ("07,08,09")
otherwise
GEDU_LVL in ("05,06,07,08,09")
Otherwise
ST in ("10,19,20,21")
ST in ("11,12,13,14,15,16,17,18")
Otherwise
None
CWS in ("11,12,21,31,41,51,61,61,71,72")
CWS NOT in ("11,12,21,31,41,51,61,61,71,72")
CWS in ("11,12,21,31,41,51,61,61,71,72,81")
Otherwise
(CWS in (”11,12,21”) OR GEDU_LVL in (”05,06”)) AND SEC=”1”
(CWS NOT in(”11,12,21”) OR GEDU_LVL in (”05,06”)) AND SEC=”1”

In [ ]:
def convert_query_string(query_string):
    col_name, values_str = query_string.split(' in ')
    values = [v.strip("'") for v in values_str.strip('[]').split(',')]
    return f"df['{col_name}'].isin({values})"

query_string = "CWS in ['11', '12', '21']"
query_string = "(CWS in(”11,12,21”) OR GEDU_LVL in (”05,06”)) AND SEC=”1”"
converted_query = convert_query_string(query_string)
print(converted_query)

df['(CWS in(”11,12,21”) OR GEDU_LVL'].isin(['(”05', '06”)) AND SEC=”1”'])

In [ ]:
import re

def parse_query_string(query_string):
    # Replace curly quotes with straight quotes
    query_string = query_string.replace("”", "\"")
    
    # Replace 'in' operators with 'isin' and add list brackets
    query_string = re.sub(r'(\b\w+\b)\s+in\s*\(([^)]+)\)', r'df["\1"].isin([\2])', query_string)

    print(query_string)
    
    # Replace double quotes with single quotes
    query_string = query_string.replace("\"", "'")
    
    # Replace 'AND' with '&', 'OR' with '|', and add parentheses
    query_string = query_string.replace(" AND ", " and ").replace(" OR ", " or ")
    query_string = "(" + query_string + ")"

    print(query_string)
    
    # Replace column names with df[column] syntax
    query_string = re.sub(r'(\b\w+\b)=', r'df["\1"]==', query_string)
    
    return query_string


# Test the function
query_string = '(CWS in (”11,12,21”) AND GEDU_LVL in (”05,06”)) AND SEC=”1”'
parsed_query = parse_query_string(query_string)
print(parsed_query)

# Output: (df['CWS'].isin(['11,12,21']) or df['GEDU_LVL'].isin(['05,06'])) and df['SEC']=='1'

(df["CWS"].isin(["11,12,21"]) AND df["GEDU_LVL"].isin(["05,06"])) AND SEC="1"
((df['CWS'].isin(['11,12,21']) and df['GEDU_LVL'].isin(['05,06'])) and SEC='1')
((df['CWS'].isin(['11,12,21']) and df['GEDU_LVL'].isin(['05,06'])) and df["SEC"]=='1')

In [ ]:
import re

def parse_query_string(query_string):
    # Replace curly quotes with straight quotes
    query_string = query_string.replace("”", "\"")
    
    # Replace 'in' operators with 'isin' and add list brackets
    query_string = re.sub(r'(\b\w+\b)\s+NOT in\s*\(([^)]+)\)', r'~df["\1"].isin([\2])', query_string)
    query_string = re.sub(r'(\b\w+\b)\s+in\s*\(([^)]+)\)', r'df["\1"].isin([\2])', query_string)

    print(query_string)
    
    # Replace double quotes with single quotes
    query_string = query_string.replace("\"", "'")
    
    # Replace 'AND' with '&', 'OR' with '|', and add parentheses
    query_string = query_string.replace(" AND ", " and ").replace(" OR ", " or ")
    query_string = "(" + query_string + ")"

    print(query_string)
    
    # Replace column names with df[column] syntax
    query_string = re.sub(r'(\b\w+\b)=', r'df["\1"]==', query_string)
    
    return query_string


# Test the function
query_string = '(CWS NOT in (”11,12,21”) AND GEDU_LVL in (”05,06”)) AND SEC=”1”'
parsed_query = parse_query_string(query_string)
print(parsed_query)

# Output: (df['CWS'].isin(['11,12,21']) or df['GEDU_LVL'].isin(['05,06'])) and df['SEC']=='1'

(~df["CWS"].isin(["11,12,21"]) AND df["GEDU_LVL"].isin(["05,06"])) AND SEC="1"
((~df['CWS'].isin(['11,12,21']) and df['GEDU_LVL'].isin(['05,06'])) and SEC='1')
((~df['CWS'].isin(['11,12,21']) and df['GEDU_LVL'].isin(['05,06'])) and df["SEC"]=='1')

In [ ]:
for i in conditions:
    if i:
        i = i.replace("&&", "and")
        i = i.replace("AND", "and")
        i = i.replace("OR", "or")
        i = i.replace("||", "or")
        i = i.replace("<>", "!=")

        # extract the list of values from the string
        list_string = i.split('(')[1].split('")')[0]
        list_values = list_string.split(',')

        # create the new string
        new_string = 'CWS in {}'.format(str(list_values))

        # print the new string
        print(new_string)
    else:
        pass

IndexError: ignored

In [ ]:
# original string
original_string = 

# extract the list of values from the string
list_string = original_string.split('(')[1].split('")')[0]
list_values = list_string.split(',')

# create the new string
new_string = 'CWS in {}'.format(str(list_values))

# print the new string
print(new_string)

In [ ]:
conditions[0:]

In [ ]:
# Step 1: Parse the string
condition1 = conditions[0].split(' && ')[0]  # 'AGE>=5'
condition2 = conditions[0].split(' && ')[1]  # 'AGE<10'

column1, operator1, value1 = condition1.split(">=")
value1 = int(value1.strip())  # convert the value to an integer

column2, operator2, value2 = condition2.split("<")
value2 = int(value2.strip())  # convert the value to an integer

# Step 2: Create a boolean mask for each condition
mask1 = df[column1] >= value1
mask2 = df[column2] < value2

# Step 3: Combine the boolean masks using the logical "and" operator
final_mask = mask1 & mask2

final_mask

In [ ]:
for condition in conditions:
    if condition is None or condition == 'Otherwise' or condition == '':
        # Skip null or "Otherwise" conditions
        continue
    
    elif '&&' in condition:
        # Condition contains multiple expressions joined by logical "and"
        expressions = condition.split(' && ')
        masks = []
        for expression in expressions:
            column, operator, value = expression.split()
            if operator == '>=':
                mask = df[column] >= int(value)
            elif operator == '<':
                mask = df[column] < int(value)
            elif operator == '<=':
                mask = df[column] <= int(value)
            elif operator == '>':
                mask = df[column] > int(value)
            else:
                raise ValueError(f'Invalid operator: {operator}')
            masks.append(mask)
        final_mask = masks[0] & masks[1]
        for mask in masks[2:]:
            final_mask &= mask
    
    elif 'not' in condition.lower():
        # Condition contains a "not in" expression
        column, values = condition.split('not in')
        values = [v.strip() for v in values.strip('()').split(',')]
        mask = ~df[column].isin(values)
    
    elif 'in' in condition.lower():
        # Condition contains an "in" expression
        column, values = condition.split('in')
        values = [v.strip() for v in values.strip('()').split(',')]
        mask = df[column].isin(values)
    
    elif '=' in condition:
        # Condition contains a single expression
        column, value = condition.split('=')
        mask = df[column] == int(value)
    
    else:
        raise ValueError(f'Invalid condition: {condition}')
    
    # Do something with the mask
    print(mask)

In [ ]:
import pandas as pd

# create a sample DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'age': [25, 30, 35, 40, 45],
        'gender': ['F', 'M', 'M', 'M', 'F'],
        'city': ['New York', 'Chicago', 'Los Angeles', 'Houston', 'Boston']}
df = pd.DataFrame(data)

# filter rows where age is greater than or equal to 35 and gender is 'M'
filtered_df = df.query('age != 35 and gender == "M"')

# print the filtered DataFrame
print(filtered_df)

In [ ]:
import pandas as pd

# create a sample DataFrame
data = {'CWS': ['11', '21', '31', '41', '51', '61', '71', '72', '81', '91'],
        'gender':['M', 'F', 'M', 'F', 'M', 'F', 'M', 'F', 'M', 'F'],
        'age': [12, 13, 34, 54, 67, 66, 121, 23, 45, 11],
        'age_group': ["G1", "G2", "G3", "G4", "G5", "G6", "G7", "G8", "G9", "G10"]
        }
df = pd.DataFrame(data)

# apply query to filter rows where CWS is in the specified list
# filtered_df = df.query('CWS in ["11", "12", "21", "31", "41", "51", "61", "71", "72"] and gender == "M"')

for i in range(df.shape[0]):
    df.loc[df.query('CWS in ["11", "12", "21", "31", "41", "51", "61", "71", "72"] and gender == "M"').index, (df['age'].tolist()[i])] = df['age_group'].tolist()[i]


# print the filtered DataFrame
print(filtered_df)

In [ ]:
df['age_group'].tolist()

In [ ]:
import re

string = '''(HEIGHT>=5.5 && HEIGHT<6.0) or wt!=0
WEIGHT>50 && WEIGHT<=70
MARKS>=80 && MARKS<90
AGE>=20 && AGE<30
INCOME>=50000'''

# Define a function to replace variable names with df["<variable_name>"]
def replace_var(match):
    return f'df["{match.group(0)}"]'

# Use regex to replace variable names with df["<variable_name>"]
pattern = re.compile(r'\b\w+\b(?=\s*[<>=!])')
new_string = pattern.sub(replace_var, string)

print(new_string)

In [47]:
import pandas as pd
import numpy as np

# Read the data from the CSV file
df = pd.read_csv('Work_File1.csv')

# Get the current column names
old_col_names = df.columns.tolist()

# Create a dictionary with the new column names
new_col_names = {col: col.strip() for col in old_col_names}

# Rename the columns using the dictionary
df.rename(columns=new_col_names, inplace=True)

# Calculate the SS_MULT and CMULT fields
df['SS_MULT'] = df['MULT'] / 100
df['CMULT'] = df.apply(lambda row: row['MULT'] / 200 if row['NSC'] > row['NSS'] else row['MULT'] / 100, axis=1)

# Group the data by SEC and ST_GR and calculate the aggregates
grouped_df = df.groupby(['SEC', 'ST_GR']).agg({'POP': lambda x: (x * df['CMULT']).sum(),
                                                'LF': lambda x: (x * df['CMULT']).sum(),
                                                'WRK': lambda x: (x * df['CMULT']).sum(),
                                                'MULT': 'count'})

# Rename the columns and reset the index
grouped_df = grouped_df.rename(columns={'POP': 'pophat', 'LF': 'lfhat', 'WRK': 'wrkhat', 'MULT': 'no_sam'}).reset_index()

# Save the results to a new CSV file
grouped_df.to_csv('W1.csv', index=False)

In [48]:
df.head(3)

,SEC,ST,ST_GR,STRM_ID,SS,NSS,NSC,MULT,AGE,CWS,POP,LF,WRK,SS_MULT,CMULT
0,1,28,G3,1280101,1,1,2,2510296,40.0,51,1,1,1,25102.96,12551.48
1,1,28,G3,1280101,1,1,2,2510296,18.0,91,1,0,0,25102.96,12551.48
2,1,28,G3,1280101,1,1,2,2510296,19.0,91,1,0,0,25102.96,12551.48

In [49]:
df.columns

Index(['SEC', 'ST', 'ST_GR', 'STRM_ID', 'SS', 'NSS', 'NSC', 'MULT', 'AGE',
       'CWS', 'POP', 'LF', 'WRK', 'SS_MULT', 'CMULT'],
      dtype='object')

In [64]:
# Filter dataframe to include only rows where SS is 1 or 2
df = df.query("SS in [1, 2]")
print(f"Number of rows after filtering: {len(df)}")

# Generate stratum and stratum x sub-sample level estimates
w2 = df.groupby(['SEC', 'ST_GR', 'STRM_ID']).agg(
    popstr=('POP', 'sum'),
    s1pop=('POP', lambda x: np.sum(np.where(df['SS'] == 1, x * df['SS_MULT'], 0))),
    s2pop=('POP', lambda x: np.sum(np.where(df['SS'] == 2, x * df['SS_MULT'], 0))),
    lfstr=('LF', 'sum'),
    s1lf=('LF', lambda x: np.sum(np.where(df['SS'] == 1, x * df['SS_MULT'], 0))),
    s2lf=('LF', lambda x: np.sum(np.where(df['SS'] == 2, x * df['SS_MULT'], 0))),
    wrkstr=('WRK', 'sum'),
    s1wrk=('WRK', lambda x: np.sum(np.where(df['SS'] == 1, x * df['SS_MULT'], 0))),
    s2wrk=('WRK', lambda x: np.sum(np.where(df['SS'] == 2, x * df['SS_MULT'], 0)))
).reset_index()

Number of rows after filtering: 83801

In [65]:
df.head(3)

,SEC,ST,ST_GR,STRM_ID,SS,NSS,NSC,MULT,AGE,CWS,POP,LF,WRK,SS_MULT,CMULT
0,1,28,G3,1280101,1,1,2,2510296,40.0,51,1,1,1,25102.96,12551.48
1,1,28,G3,1280101,1,1,2,2510296,18.0,91,1,0,0,25102.96,12551.48
2,1,28,G3,1280101,1,1,2,2510296,19.0,91,1,0,0,25102.96,12551.48

In [66]:
# Join w2 and w1 on SEC and ST_GR columns
w3 = w2.merge(grouped_df, on=['SEC', 'ST_GR'], suffixes=('_str', '_grp'))

# Add new columns to w3
w3['r1hat'] = w3['lfhat'] / w3['pophat']
w3['r2hat'] = w3['wrkhat'] / w3['pophat']

In [67]:
# Equate s1pop and s2pop
w3.loc[w3['popstr'] == w3['s1pop'], 's1pop'] = w3.loc[w3['popstr'] == w3['s1pop'], 's2pop']
w3.loc[w3['popstr'] == w3['s2pop'], 's2pop'] = w3.loc[w3['popstr'] == w3['s2pop'], 's1pop']

# Equate s1lf and s2lf
w3.loc[w3['lfstr'] == w3['s1lf'], 's1lf'] = w3.loc[w3['lfstr'] == w3['s1lf'], 's2lf']
w3.loc[w3['lfstr'] == w3['s2lf'], 's2lf'] = w3.loc[w3['lfstr'] == w3['s2lf'], 's1lf']

# Equate s1wrk and s2wrk
w3.loc[w3['wrkstr'] == w3['s1wrk'], 's1wrk'] = w3.loc[w3['wrkstr'] == w3['s1wrk'], 's2wrk']
w3.loc[w3['wrkstr'] == w3['s2wrk'], 's2wrk'] = w3.loc[w3['wrkstr'] == w3['s2wrk'], 's1wrk']

In [74]:
w3['s1wrk'].unique()

array([nan])

In [76]:
w3['r2hat'].unique()

array([0.4285478 , 0.49414335, 0.50206607, 0.4281294 , 0.45977384,
       0.46284471])

In [82]:
w4 = w3.groupby(['SEC', 'ST_GR', 'no_sam', 'pophat', 'lfhat', 'wrkhat', 'r1hat', 'r2hat']).agg(
    var_pop=('s1pop', lambda x: ((x - x.mean()) ** 2).sum()),
    mse_R1=('s1lf', lambda x: ((x - x.mean()) ** 2).sum() + (x.name[-2] ** 2) * (((x.name[3] - x.name[3].mean()) ** 2).sum()) - 
           2 * x.name[-2] * ((x - x.mean()) * (x.name[3] - x.name[3].mean())).sum()),
    mse_R2=('s1wrk', lambda x: ((x - x.mean()) ** 2).sum() + (x.name[-1] ** 2) * (((x.name[3] - x.name[3].mean()) ** 2).sum()) - 
           2 * x.name[-1] * ((x - x.mean()) * (x.name[3] - x.name[3].mean())).sum())
).reset_index()

<ipython-input-82-e5b5f6c52ac6>:1: FutureWarning: Dropping invalid columns in SeriesGroupBy.agg is deprecated. In a future version, a TypeError will be raised. Before calling .agg, select only columns which should be valid for the function.
  w4 = w3.groupby(['SEC', 'ST_GR', 'no_sam', 'pophat', 'lfhat', 'wrkhat', 'r1hat', 'r2hat']).agg(

In [83]:
w4

,SEC,ST_GR,no_sam,pophat,lfhat,wrkhat,r1hat,r2hat,var_pop,mse_R1,mse_R2
0,1,G1,9158,1.441490e+08,5.757861e+07,6.177476e+07,0.399438,0.428548,0.0,0.0,0.0
1,1,G2,7202,2.483506e+07,1.126034e+07,1.227208e+07,0.453405,0.494143,0.0,0.0,0.0
2,1,G3,30359,3.901753e+08,1.825075e+08,1.958938e+08,0.467758,0.502066,0.0,0.0,0.0
3,2,G1,5207,3.279368e+07,1.292701e+07,1.403994e+07,0.394192,0.428129,0.0,0.0,0.0
4,2,G2,4584,4.521249e+06,1.873110e+06,2.078752e+06,0.414290,0.459774,0.0,0.0,0.0
5,2,G3,27291,2.086086e+08,8.846961e+07,9.655337e+07,0.424094,0.462845,0.0,0.0,0.0

In [84]:
# Calculate RSEs for each variable in T1
w5 = w4.assign(
    RSE_POP=lambda x: 100 * (x['var_pop'] ** 0.5) / (2 * x['pophat']),
    RSE_R1=lambda x: 100 * (x['mse_R1'] ** 0.5) / (2 * x['lfhat']),
    RSE_R2=lambda x: 100 * (x['mse_R2'] ** 0.5) / (2 * x['wrkhat'])
)

In [93]:

# assuming the data is loaded into a DataFrame called w5
T1 = w5[['SEC', 'ST_GR', 'no_sam', 'pophat', 'lfhat', 'wrkhat', 'r1hat', 'r2hat', 'RSE_POP', 'RSE_R1', 'RSE_R2']].copy()

# add empty columns for sec_desc and st_gr_desc
T1['sec_desc'] = ''
T1['st_gr_desc'] = ''

# apply formatting to columns
T1['R1'] = 100 * T1['r1hat']
T1['R2'] = 100 * T1['r2hat']

# reorder columns
T1 = T1[['SEC', 'ST_GR', 'sec_desc', 'st_gr_desc', 'no_sam', 'pophat','lfhat', 'wrkhat', 'RSE_POP', 'R1', 'RSE_R1', 'R2', 'RSE_R2']]

# print the resulting DataFrame
print(T1)

   SEC ST_GR sec_desc st_gr_desc  no_sam        pophat         lfhat  \
0    1    G1                        9158  1.441490e+08  5.757861e+07
1    1    G2                        7202  2.483506e+07  1.126034e+07
2    1    G3                       30359  3.901753e+08  1.825075e+08
3    2    G1                        5207  3.279368e+07  1.292701e+07
4    2    G2                        4584  4.521249e+06  1.873110e+06
5    2    G3                       27291  2.086086e+08  8.846961e+07

         wrkhat  RSE_POP         R1  RSE_R1         R2  RSE_R2
0  6.177476e+07      0.0  39.943801     0.0  42.854780     0.0
1  1.227208e+07      0.0  45.340498     0.0  49.414335     0.0
2  1.958938e+08      0.0  46.775767     0.0  50.206607     0.0
3  1.403994e+07      0.0  39.419213     0.0  42.812940     0.0
4  2.078752e+06      0.0  41.429033     0.0  45.977384     0.0
5  9.655337e+07      0.0  42.409386     0.0  46.284471     0.0

In [96]:
T1 = w5[['SEC', 'ST_GR', 'no_sam', 'pophat','lfhat', 'wrkhat', 'r1hat', 'r2hat', 'RSE_POP', 'RSE_R1', 'RSE_R2']].copy()
T1['sec_desc'] = ' '*12
T1['st_gr_desc'] = ' '*12
T1['R1'] = 100 * T1['r1hat']
T1['R2'] = 100 * T1['r2hat']
T1 = T1[['SEC', 'ST_GR', 'no_sam', 'pophat','lfhat', 'wrkhat', 'RSE_POP', 'R1', 'RSE_R1', 'R2', 'RSE_R2']]
T1

,SEC,ST_GR,no_sam,pophat,lfhat,wrkhat,RSE_POP,R1,RSE_R1,R2,RSE_R2
0,1,G1,9158,1.441490e+08,5.757861e+07,6.177476e+07,0.0,39.943801,0.0,42.854780,0.0
1,1,G2,7202,2.483506e+07,1.126034e+07,1.227208e+07,0.0,45.340498,0.0,49.414335,0.0
2,1,G3,30359,3.901753e+08,1.825075e+08,1.958938e+08,0.0,46.775767,0.0,50.206607,0.0
3,2,G1,5207,3.279368e+07,1.292701e+07,1.403994e+07,0.0,39.419213,0.0,42.812940,0.0
4,2,G2,4584,4.521249e+06,1.873110e+06,2.078752e+06,0.0,41.429033,0.0,45.977384,0.0
5,2,G3,27291,2.086086e+08,8.846961e+07,9.655337e+07,0.0,42.409386,0.0,46.284471,0.0

In [97]:
T1.to_csv('T1.csv')